<h1>Add a New Book</h1>

<%= render 'form', book: @book %>

<%= form_tag :action => 'create' do %>

<p><label for = "book_author">Author</label>
<%= text_field 'books', 'author' %></p>

<p><label for = "book_price">Price</label>
<%= text_field 'books', 'price' %></p>

<%= link_to 'Back', books_path %>
